* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 800px;
}

body::after {
    content: "";
    position: absolute;
    background-image: url("world.png");
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: -2;
}

header {
    font-family: "Poiret One", sans-serif;
    color: rgb(1, 34, 34);
    margin-bottom: 20px;
}

.cards-container {
    position: relative;
    top: 30px;
    display: grid;
    grid-template-rows: repeat(3, 210px);
    grid-template-columns: repeat(3, 210px);
    row-gap: 30px;
    column-gap: 50px;
    perspective: 60vw;
}

.cards-container span {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: teal;
}

.card {
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
}

.card ul {
    list-style-position: inside;
    margin-left: 10px;
    margin-top: 10%;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
}

.front {
    color: ivory;
    text-shadow: 0 0 2px black;
    backface-visibility: hidden;
    font-size: 20px;
    box-shadow: 0 2px 5px dimgray;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: left;
    font-size: 16px;
    background-color: antiquewhite;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    box-shadow: 0 2px 3px dimgray;
}
    
.card:hover {
    transform: rotateY(180deg);
}

.flag {
    position: absolute;
    left: -40px;
    top: 50px;
    background-size: cover;
    opacity: 0.9;
    width: 50px;
    height: 32px;
    box-shadow: 0 0 2px #4e4e4e;
    z-index: -1;
}