body {
    display: grid;
    height: 100%;
}

body::after {
    content: "";
    position: absolute;
    background-image: url("world.png");
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    z-index: -2;
}

header {
    font-family: "Montserrat", sans-serif;
    justify-self: center;
}

.cards-container {
    position: relative;
    display: flex;
    justify-self: center;
    width: 800px;
    height: 800px;
    flex-flow: wrap;
    justify-content: space-between;
    perspective: 60vw;
}

.card {
    position: relative;
    font-family: "Montserrat", sans-serif;
    height: 230px;
    width: 230px;
    text-align: center;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
}

.front {
    color: ivory;
    text-shadow: 0 0 2px black;
    backface-visibility: hidden;
    font-size: 20px;
}

.back {
    color: black;
    text-align: left;
    font-size: 16px;
    background-color: antiquewhite;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
    
.card:hover {
    transform: rotateY(180deg);
}

.flag {
    position: absolute;
    left: -40px;
    top: 50px;
    background-size: cover;
    opacity: 0.9;
    width: 50px;
    height: 32px;
    box-shadow: 0 0 2px #4e4e4e;
    z-index: -1;
}